<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Blog Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
     <%= stylesheet_link_tag    'blog', 'data-turbolinks-track' => true %>

    

    
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="#">Home</a>
          <a class="blog-nav-item" href="#">New features</a>
          <a class="blog-nav-item" href="#">Press</a>
          <a class="blog-nav-item" href="#">New hires</a>
          <a class="blog-nav-item" href="#">About</a>
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">Contact Us</h1>
        <p class="lead blog-description">More About the team behind Gethere</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Omar Abuomar</h2>
            <img src = "https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAMCAAAAJDY0MDllZTRlLWZhZTAtNDQ4Yi1hM2Q2LTkxMjJmOWZjODFjNA.jpg" alt = "Omar Abu Omar">
            <p>Omar is our lead engineer. He helped develop the program from scratch. </p>
            <hr>
             
            <blockquote>
              <p>McGill University, Class of 2015 <br> <ul>Electrical Engineering</ul></p>
              <p>Reach Omar at omar.abuomar [at] mail.mcgill.ca</p><br>
              <p> <a href="https://www.linkedin.com/profile/view?id=214966837" > Click here</a> to view Omar's linkedIn profile.</p>
            </blockquote>
           
            <h2 class="blog-post-title">Hussam Maqbool</h2>
             <img src = "https://media.licdn.com/media/p/3/005/054/122/0dd3c87.jpg" alt = "Hussam Maqbool">
            <p>Although Hussam does fuck all in regards to the project, we still love him and the ideas he's put in before the project began</p>
            <blockquote>
              <p>McGill University, Class of 2014 <br> <ul>Economics and Math</ul></p>
              <p>Reach Hussam at fuckboi [at] mail.mcgill.ca</p>
            <p><br>
                <a href="https://www.linkedin.com/profile/view?id=214966837" > Click here</a> to view Hussam's linkedIn profile.</p>
            </blockquote>
            
         
          </div><!-- /.blog-post -->

      </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    
  </body>
</html>